*, *::before, ::after{
    box-sizing: border-box;
}

:root{
    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);

    --main-bg: hsl(217, 54%, 11%);
    --card-bg: hsl(216, 50%, 16%);
}

body{
    min-height:100vh;
    background-color: var(--main-bg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Card Content Styles */

.card{
    max-width:350px;
    background-color: var(--card-bg);
    border-radius: 15px;
    margin: 0 1em;
}

.card__wrapper{
    padding:1.5em;
    font-family: 'Outfit', sans-serif;
}

img{
    max-width: 100%;
}

.card__img{
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border-radius: 15px;
}

.card__body > div{
    margin-top:1em;
}

.card__img::before,
.card__img::after {
    content: '';
    position: absolute;
}

.card__img::before {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: var(--cyan);
    opacity: 0;
}

.card__img::after {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    aspect-ratio: 1;
    background-image: url('./images/icon-view.svg');
    background-repeat: no-repeat;
    opacity: 0;
}

.card__img:hover::before {
    opacity: .5;
}

.card__img:hover::after {
    opacity: 1;
}

.card__body__title{
    margin: .5em 0 0 0;
}

.card__body__title a{
    text-decoration: none;
    font-size: 23px;
    color:white;
    font-weight: 600;
}

.card__body__title a:hover{
    color:var(--cyan);
}

.card__body__about{
    color:var(--soft-blue);
}

.card__body__purchase{
    display: flex;
    justify-content: space-between;
}

.card__body__purchase span{
    margin-left:.5em;
}

.card__body__purchase__price,
.card__body__purchase__time{
    display: flex;
    align-items: center;
}

.card__body__purchase__price{
    font-weight: 600;
    color: var(--cyan);
}

.card__body__purchase__time{
    font-weight: 400;
    color: var(--soft-blue);
}

.card__body__creator{
    display: flex;
    align-items: center;
    margin-top: 1em;
}

.card__body__creator__avatar{
    display: flex;
    align-items: center;
    background-color: hsl(0, 0%, 100%);
    width:40px;
    padding: 1px;
    border-radius: 50%;
}

.card__body__creator__attribution{
    margin-left: 1em;
    color: var(--soft-blue);
}

.card__body__creator__name{
    color: white;
    text-decoration: none;
}

.card__body__creator__name:hover{
    color: var(--cyan);
}

footer{
    margin: 1em 0;
    color: white;
}

footer a{
    text-decoration: none;
    color: var(--cyan);
    font-family: 'Outfit', sans-serif;
}

/* Media Queries */

@media screen and (max-width:23.4375em){
    .card-info p{
        font-size: 14px;
    }
    .price-info span,
    .time-info span{
        font-size: smaller;
    }
}
